*{
 margin :0;
 padding: 0;
 outline: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	line-height: 18px;
    color: #000;
	height:100vh;
	/*background: url(../images/1.jpg);
	background-repeat:repeat;
	background-attachment:fixed;*/
}

.template{
	width : 960px;
	margin: 0 auto;
}
.clear{
	overflow: hidden;
}
.header{
	
	background:#030708;
	color: #fff;
	
}
.logo{
	width: 430px;
	float: left;
	
}
.logo img{
	width:105px;
	margin-right:15px;
	float: left;
	padding-left: 20px;
	padding-bottom:10px;
	padding-top:10px;
}
.logo h2{
	margin-top:25px;
	font-size:33px;
	margin-bottom:11px;
	text-shadow: 2px 1px 0px #666;
}

.social{
	width: 230px;
	float:right;
	padding-top: 16px;
}
.social img {
	width: 73px;
	margin-top: -12px;
	margin-left: 140px;
}
.navigation{
	
	background: #E3B469;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation ul li{ 
    display: block;
	float: left;
}
.navigation ul li a {
	text-decoration: none;
	margin-left: 17px;
	display: block;
	color: #444;
	font-size:15px;
	font-weight: bold;
	border: 1px solid #2F2F2F2F;
	padding: 5px 30px;
	margin: 5px;
}
.navigation ul li a:hover{
	background:#101820FF;
	color: #fff;
}
.slidersection {
	margin-bottom: 15px;
	box-shadow: -1px 10px 10px #E3B469;
}

.content{
	background: #fff;

}
.maincontent {
	width: 646px;
	background: #F8F8F8F8;
	float: left;
	padding: 10px;
	margin: 15px 15px 15px 0;
	border: 2px solid #101820FF;
	margin-top: 0px;
}
.about{}
.about h2{
	
	padding: 10px;
	color: #101820;
	margin-bottom: 10px;
	border-bottom: 2px solid #555555;
	margin-top: 5px;
}
.about img {
	float: left;
	width: 330px;
	margin-right: 5px;
	background: #fff;
	padding: 5px;
	border: 3px solid #9b999a;
}
.about p{
	text-align:justify;
	margin-top:10px;
}

.samepost{
	
}
.samepost h2 {
	background: #F8F8F8;
	padding: 10px;
	color: #444;
	margin-bottom: 8px;
	border-bottom: 3px solid #555555;
}
	
.samepost img{
	float:left;
	width:200px;
	margin-right: 10px;
	background:#fff;
	padding: 5px;
	border: 3px solid #9b999a;
	
}

.samepost p{
	font-size: 16px;
	line-height:23px;
	text-align:justify;
}

.readmore {
	float: right;
	padding: 5px;
}
.readmore a {
	text-decoration: none;
	color: #444;
	background: #fff;
	padding: 5px;
	margin-right: 5px;
	font-family: algeria;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #444;
	display: block;
	border-radius: 10px;
}
.readmore a:hover{
	background:black;
	color: #fff;
	cursor:pointer;
}

.sidebar {
	width: 251px;
	background: #101820FF;
	float: right;
	margin-top: 0px;
	padding: 10px;
	margin-bottom: 15px;
	border: 2px solid #101820FF;
	color:#fff;
}
.samesidebar h2 {
	background: #4B1C00;
	padding: 10px;
	color: #fff;
	margin-bottom: 10px;
	border-bottom: 3px solid #555555;
	margin-top: 5px;
}

.samesidebar ul{padding:0;margin:0;list-style:none;}
.samesidebar ul li {
	font-size: 16px;
	padding: 5px 3px;
	border-bottom: 1px dashed #303030;
	padding-left:0px;
}
.samesidebar ul li:last-child {
	border-bottom: 0px dashed #303030;
}
.samesidebar ul li a {
	text-decoration:none;color: #fff;
	}

.samesidebar ul li a:hover{
	color: #E3B469;
}

 .footer{
	height: 90px;
	background:#101820FF;
	color: #fff;
	
}
.footermenu {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
}
.footermenu ul{
	padding: 0; 
	margin:0 ;
	list-style:none;
	text-align: center;
	}
.footermenu ul li {
	display: inline-block;
	margin-left: 15px;
}
.footermenu ul li a{
	text-decoration: none; 
	color: #fff;
	}
.footermenu ul li a:hover{
	color: #E3B469;
}
.footer p{
	text-align: center;
	}
